@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  max-width: 100%;
  width: 100%;
  background: rgb(255, 229, 180);
}

a {
  text-decoration: none;
  color: black;
}

input[type=submit] {
  cursor: pointer;
}

button {
  cursor: pointer;
}

li {
  cursor: pointer;
}

.container {
  width: 100%;
}
.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container header div.logo {
  cursor: pointer;
  padding-left: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header div.logo svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container header div.logo svg:hover g path[fill="#CE0002"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #3f31b8;
}
.container header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header nav ul a.active {
  color: rgb(65, 105, 225);
}
.container header nav ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 36px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.container header nav ul li:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(65, 105, 225);
}
.container header nav ul div.language {
  cursor: pointer;
  margin-left: 59px;
}
.container header nav ul div.language svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container header nav ul div.language svg:hover path[fill="rgb(65, 105, 225)"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: rgb(25, 63, 175);
}
.container header nav ul div.language svg:hover path[fill=black] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #FFFFFF;
}
.container main article.article-text {
  margin-top: 95px;
  max-width: 900px;
  margin-left: 190px;
}
.container main article.article-text button {
  background: rgb(65, 105, 225);
  padding: 26px 38px;
}
.container main article.article-text h3 {
  max-width: 603px;
  margin-top: 60px;
  margin-bottom: 48px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 72px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.container main article.article-text p, .container main article.article-text ul, .container main article.article-text li {
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
}
.container main article.article-text p.article-title {
  margin-top: 40px;
}
.container main article.article-text li {
  margin-left: 22px;
}
.container main article.article-form {
  margin-top: 41px;
  padding-bottom: 206px;
  background: rgb(65, 105, 225);
}
.container main article.article-form div.article-form-obolochka {
  margin: 0 auto;
  max-width: 1360px;
  width: 100%;
}
.container main article.article-form div.article-form-obolochka h2 {
  padding-top: 65px;
  max-width: 553px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 72px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.container main article.article-form div.article-form-obolochka form {
  margin-top: 45px;
}
.container main article.article-form div.article-form-obolochka form div.second-line {
  margin-top: 50px;
}
.container main article.article-form div.article-form-obolochka form div.third-line {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.container main article.article-form div.article-form-obolochka form div.third-line div input.text-boxcheckbox {
  margin-left: 50px;
  width: 56px;
  height: 56px;
}
.container main article.article-form div.article-form-obolochka form div.third-line div p.text-checkbox {
  margin-left: 20px;
  max-width: 491px;
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
}
.container main article.article-form div.article-form-obolochka form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container main article.article-form div.article-form-obolochka form div input {
  color: rgb(255, 229, 180);
  max-width: 410px;
  width: 100%;
  height: 46px;
  border: none;
  border-bottom: 2px solid rgb(255, 229, 180);
  background-color: transparent;
  font-family: "Abel", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
}
.container main article.article-form div.article-form-obolochka form div input[type=submit] {
  height: 94px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 26px 40px;
  background: rgb(255, 229, 180);
  color: black;
}
.container footer {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(239, 239, 239);
}
.container footer div.footer_logo {
  position: absolute;
  left: 27px;
}
.container footer div.footer_logo p {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  color: rgb(126, 126, 126);
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.container footer div.footer_logo p:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(71, 71, 71);
}
.container footer nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.container footer nav ul {
  width: 674px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container footer nav ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 36px;
  color: rgb(126, 126, 126);
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.container footer nav ul li:last-child {
  margin-right: 0;
}
.container footer nav ul li:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(71, 71, 71);
}