@media only screen and (max-width: 1344px) {
  .article_text {
    margin-left: 40px !important;
  }
  body {
    background-color: rgb(65, 105, 225) !important;
  }
}
@media only screen and (max-width: 1190px) {
  main {
    padding: 0 40px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .article_text {
    margin-left: 0 !important;
  }
  .article_menu {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  div.logo {
    margin-left: 57px;
    padding-left: 0 !important;
  }
  div.burger {
    cursor: pointer;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav {
    margin-left: auto;
  }
  div.language {
    margin-left: 0 !important;
  }
  ul.navigation {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  ul.navigation a {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  div.language svg {
    width: 96px;
    height: 96px;
  }
}
@media only screen and (max-width: 688px) {
  .article_text h2 {
    max-width: 262px !important;
    font-size: 32px !important;
    font-weight: 800 !important;
    line-height: 38px !important;
  }
  .article_text p {
    max-width: 335px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
  }
  article svg.articlephoto {
    width: 300px !important;
    height: 300px !important;
  }
}
@media only screen and (max-width: 421px) {
  main {
    padding: 0 20px !important;
  }
  article svg.articlephoto {
    width: 250px !important;
    height: 250px !important;
  }
}