@media only screen and (max-width: 1560px) {
  .main-jobs {
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
}
@media only screen and (max-width: 1410px) {
  .main-icons {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    padding-left: 40px !important;
  }
  .section-icons {
    margin-top: 20px !important;
  }
}
@media only screen and (max-width: 940px) {
  .main-jobs {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  div.logo {
    margin-left: 57px;
    padding-left: 0 !important;
  }
  div.burger {
    cursor: pointer;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav {
    margin-left: auto;
  }
  div.language {
    margin-left: 0 !important;
  }
  ul.navigation {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  ul.navigation a {
    display: none;
  }
  .main-jobs section {
    width: 450px !important;
    height: 450px !important;
  }
  .main-title {
    padding: 0 40px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-title h2 {
    max-width: 603px !important;
  }
  .container-btn-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-btn-slider img {
    width: 67px !important;
    height: 67px !important;
  }
  .container-btn-slider .slider-next {
    margin-left: 85px !important;
  }
}
@media only screen and (max-width: 768px) {
  div.language svg {
    width: 96px;
    height: 96px;
  }
}
@media only screen and (max-width: 720px) {
  .slider1 {
    display: none;
  }
  .slider2 {
    margin-top: 36px !important;
    padding: 0 40px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 680px) {
  .main-title h2 {
    max-width: 270px !important;
    font-size: 32px !important;
    font-weight: 800 !important;
    line-height: 38px !important;
    letter-spacing: 0% !important;
  }
  .main-jobs section {
    width: 345px !important;
    height: 345px !important;
  }
  .div-jobs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .div-jobs p {
    font-size: 26px !important;
    font-weight: 800 !important;
    line-height: 38px !important;
    letter-spacing: 0% !important;
  }
  .section-text h2 {
    max-width: 284px !important;
    font-size: 32px !important;
    font-weight: 800 !important;
    line-height: 38px !important;
    letter-spacing: 0% !important;
  }
  .section-text p {
    max-width: 325px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    letter-spacing: 0% !important;
  }
  .article_icons-title {
    font-size: 16px !important;
    font-weight: 800 !important;
    line-height: 19px !important;
    letter-spacing: 0% !important;
  }
  .article_icons-subtitle {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 15px !important;
    letter-spacing: 0% !important;
  }
  .section-icons section {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
  .section-icons section svg {
    width: 88px !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .container main article.main-icons section.section-icons {
    -webkit-column-gap: 37px !important;
       -moz-column-gap: 37px !important;
            column-gap: 37px !important;
    -ms-grid-columns: -webkit-max-content 37px -webkit-max-content !important;
    -ms-grid-columns: max-content 37px max-content !important;
    grid-template-columns: repeat(2, -webkit-max-content) !important;
    grid-template-columns: repeat(2, max-content) !important;
  }
  .section_menu {
    margin-left: 200px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 425px) {
  .main-title {
    padding: 10px !important;
  }
  .main-jobs section {
    margin: 0 10px;
    width: 100% !important;
  }
  .slider2 {
    padding: 0 10px !important;
  }
  .main-icons {
    padding: 0 10px !important;
  }
}