@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  max-width: 100%;
  width: 100%;
  background: rgb(255, 229, 180);
}

.burger {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

li {
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.container header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container header div.logo {
  cursor: pointer;
  padding-left: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header div.logo svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container header div.logo svg:hover g path[fill="#CE0002"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #3f31b8;
}
.container header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header nav ul a.active {
  color: rgb(25, 63, 175);
}
.container header nav ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 36px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.container header nav ul li:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(25, 63, 175);
}
.container header nav ul div.language {
  cursor: pointer;
  margin-left: 59px;
}
.container header nav ul div.language svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container header nav ul div.language svg:hover path[fill="rgb(65, 105, 225)"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: rgb(25, 63, 175);
}
.container header nav ul div.language svg:hover path[fill=black] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #FFFFFF;
}
.container main {
  margin-top: 92px;
  margin-bottom: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1615px;
  width: 100%;
}
.container main article.article_text h2 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 72px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.container main article.article_text p {
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.container main article.article_text p:last-child {
  margin-top: 30px;
}
.container footer {
  width: 100%;
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(239, 239, 239);
}
.container footer div.footer_logo {
  position: absolute;
  left: 27px;
}
.container footer div.footer_logo p {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  color: rgb(126, 126, 126);
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.container footer div.footer_logo p:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(71, 71, 71);
}
.container footer nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.container footer nav ul {
  width: 674px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container footer nav ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 36px;
  color: rgb(126, 126, 126);
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.container footer nav ul li:last-child {
  margin-right: 0;
}
.container footer nav ul li:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(71, 71, 71);
}