@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  max-width: 100%;
  width: 100%;
  background: rgb(255, 229, 180);
}

a {
  text-decoration: none;
  color: black;
}

li {
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.container header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container header div.logo {
  cursor: pointer;
  padding-left: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header div.logo svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container header div.logo svg:hover g path[fill="#CE0002"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #3f31b8;
}
.container header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header nav ul a.active {
  color: rgb(25, 63, 175);
}
.container header nav ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 36px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.container header nav ul li:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(25, 63, 175);
}
.container header nav ul div.language {
  cursor: pointer;
  margin-left: 59px;
}
.container header nav ul div.language svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container header nav ul div.language svg:hover path[fill="rgb(65, 105, 225)"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: rgb(25, 63, 175);
}
.container header nav ul div.language svg:hover path[fill=black] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #FFFFFF;
}
.container main article.article_title h2 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 72px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.container main article.article_news {
  margin-top: 31px;
}
.container main article.article_news section.container_news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container main article.article_news section.container_news section.top-news {
  margin-left: 62px;
}
.container main article.article_news section.container_news section.top-news p.time-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.container main article.article_news section.container_news section.top-news p.time-news span.time-icon {
  margin-right: 13px;
}
.container main article.article_news section.container_news section.top-news h3.news-title {
  margin-top: 13px;
  max-width: 655px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 42px;
  font-weight: 800;
  line-height: 49px;
  letter-spacing: 0%;
  text-align: left;
}
.container main article.article_news section.container_news section.top-news p.list-title {
  margin-top: 6px;
}
.container main article.article_news section.container_news section.top-news p.list-title, .container main article.article_news section.container_news section.top-news ul.list {
  max-width: 852px;
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
}
.container main article.article_news section.container_news section.top-news ul.list li {
  margin-left: 24px;
}
.container main article.article_news section.container_news_text {
  margin-top: 13px;
}
.container main article.article_news section.container_news_text p, .container main article.article_news section.container_news_text ul {
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
}
.container main article.article_news section.container_news_text li {
  margin-left: 24px;
}
.container footer {
  width: 100%;
  margin-top: 56px;
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(239, 239, 239);
}
.container footer div.footer_logo {
  position: absolute;
  left: 27px;
}
.container footer div.footer_logo p {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  color: rgb(126, 126, 126);
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.container footer div.footer_logo p:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(71, 71, 71);
}
.container footer nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.container footer nav ul {
  width: 674px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container footer nav ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 36px;
  color: rgb(126, 126, 126);
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.container footer nav ul li:last-child {
  margin-right: 0;
}
.container footer nav ul li:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(71, 71, 71);
}