@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  max-width: 100%;
  width: 100%;
  background: rgb(255, 229, 180);
}

.burger {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

li {
  cursor: pointer;
}

.slider1 {
  display: none;
}

.slider2 {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.container header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container header div.logo {
  cursor: pointer;
  padding-left: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header div.logo svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container header div.logo svg:hover g path[fill="#CE0002"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #3f31b8;
}
.container header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header nav ul a.active {
  color: rgb(25, 63, 175);
}
.container header nav ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 36px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.container header nav ul li:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(25, 63, 175);
}
.container header nav ul div.language {
  cursor: pointer;
  margin-left: 59px;
}
.container header nav ul div.language svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container header nav ul div.language svg:hover path[fill="rgb(65, 105, 225)"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: rgb(25, 63, 175);
}
.container header nav ul div.language svg:hover path[fill=black] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #FFFFFF;
}
.container main {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.container main article.article-text {
  margin-top: 116px;
}
.container main article.article-text h2 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 72px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.container main article.article-cards {
  margin: 0 auto;
  max-width: 1595px;
  width: 100%;
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container main article.article-cards article.slides {
  margin: 0 auto;
  max-width: 1595px;
  width: 100%;
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container main article.article-cards article.slides a:not(:last-child) {
  margin-right: 40px;
}
.container main article.article-cards article.slides section.section-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 505px;
  width: 100%;
  height: 100%;
  background: rgb(65, 105, 225);
}
.container main article.article-cards article.slides section.section-card p.time-news {
  padding: 24px 40px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.container main article.article-cards article.slides section.section-card p.time-news span.time-icon {
  margin-right: 20px;
}
.container main article.article-cards article.slides section.section-card h3.theme-news {
  margin-top: 13px;
  padding: 0 40px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 32px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
.container main article.article-cards article.slides section.section-card p.about-news {
  margin-bottom: 10px;
  max-width: 423px;
  margin-top: 15px;
  padding: 0 40px;
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
}
.container main article.article-cards article.slides section.section-card div.image {
  margin-top: auto;
}
.container main article.article-cards article.slides section.section-card div.image img.bottom-news {
  margin-top: auto;
  padding: 0 40px;
  margin-bottom: 46px;
}
.container footer {
  width: 100%;
  margin-top: 56px;
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(239, 239, 239);
}
.container footer div.footer_logo {
  position: absolute;
  left: 27px;
}
.container footer div.footer_logo p {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  color: rgb(126, 126, 126);
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.container footer div.footer_logo p:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(71, 71, 71);
}
.container footer nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.container footer nav ul {
  width: 674px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container footer nav ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 36px;
  color: rgb(126, 126, 126);
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.container footer nav ul li:last-child {
  margin-right: 0;
}
.container footer nav ul li:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(71, 71, 71);
}