@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  max-width: 100%;
  width: 100%;
  background: rgb(65, 105, 225);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

li {
  cursor: pointer;
}

.container {
  width: 100%;
}
.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container header div.logo {
  cursor: pointer;
  padding-left: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header div.logo svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container header div.logo svg:hover g path[fill="#CE0002"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #3f31b8;
}
.container header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header nav ul a.active {
  color: rgb(255, 229, 180);
}
.container header nav ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 36px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.container header nav ul li:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(255, 229, 180);
}
.container header nav ul div.language {
  cursor: pointer;
  margin-left: 59px;
}
.container header nav ul div.language svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container header nav ul div.language svg:hover path[fill="#FFE5B4"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #ffc861;
}
.container main.main_first {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 65px;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.container main.main_first .slider-wrapper {
  width: calc(100% - 170vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide 50s linear infinite alternate;
          animation: slide 50s linear infinite alternate;
}
.container main.main_first div.slider-wrapper {
  margin-right: 47px;
}
.container main.main_first div.slider-wrapper div.slider-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container main.main_first div.slider-wrapper div.slider-element article {
  margin-left: 123px;
}
.container main.main_first div.slider-wrapper div.slider-element article h2.article_title {
  max-width: 606px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 72px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.container main.main_first div.slider-wrapper div.slider-element article p.article_subtitle1 {
  margin-top: 11px;
  max-width: 606px;
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
}
.container main.main_first div.slider-wrapper div.slider-element article p.article_subtitle2 {
  margin-top: 22px;
  max-width: 606px;
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
}
.container main.main_first div.slider-wrapper div.slider-element article button {
  margin-top: 28px;
  background: rgb(255, 229, 180);
  padding: 26px;
}
.container main.main_first div.slider-wrapper ul {
  list-style-type: none;
}
.container main.main_first div.slider-wrapper ul li {
  color: rgb(255, 229, 180);
  font-family: "Abel", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
}
.container main.main_first div.slider-wrapper ul li p {
  margin-right: 10px;
}
.container main.main_first div.slider-wrapper ul li.article_menu-first {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container main.main_first div.slider-wrapper ul li.article_menu-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container main.main_first div.slider-wrapper ul li.article_menu-second a {
  color: rgb(255, 229, 180);
}
.container main.main_second {
  width: 100%;
  background: rgb(255, 229, 180);
}
.container main.main_second article.main_second-title {
  margin: 0 auto;
  max-width: 1548px;
}
.container main.main_second article.main_second-title h2.main_second-title {
  padding-top: 93px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 72px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.container main.main_second article.article_projects {
  margin: 0 auto;
  max-width: 1548px;
  margin-top: 30px;
  padding-bottom: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container main.main_second article.article_projects section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container main.main_second article.article_projects section h3 {
  margin-top: 23px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 44px;
  font-weight: 800;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.container main.main_second article.article_projects section p {
  margin-top: 23px;
  margin-bottom: 40px;
  max-width: 420px;
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
}
.container main.main_second article.article_projects section a {
  margin-top: auto;
}
.container main.main_second article.article_projects section a button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: auto;
  padding: 20px 35px;
  background: rgb(65, 105, 225);
}
.container footer {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(239, 239, 239);
}
.container footer div.footer_logo {
  position: absolute;
  left: 27px;
}
.container footer div.footer_logo p {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  color: rgb(126, 126, 126);
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.container footer div.footer_logo p:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(71, 71, 71);
}
.container footer nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.container footer nav ul {
  width: 674px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container footer nav ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 36px;
  color: rgb(126, 126, 126);
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.container footer nav ul li:last-child {
  margin-right: 0;
}
.container footer nav ul li:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(71, 71, 71);
}